<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230888413088-lfhuaa309v9mtspevp4lufeftgr84m54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230888413088-lfhuaa309v9mtspevp4lufeftgr84m54</string>
	<key>API_KEY</key>
	<string>AIzaSyC1og1ScJ8vz518kWsJ278rOZL6ReUJqoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>230888413088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.bitclub.allinfest</string>
	<key>PROJECT_ID</key>
	<string>festival-2e218</string>
	<key>STORAGE_BUCKET</key>
	<string>festival-2e218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230888413088:ios:fcde8f1f18a06e2ba3b6c5</string>
	<key>DATABASE_URL</key>
	<string>https://festival-2e218-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>